{% extends 'base.html' %}

{% load static %}

{% block content %}
    <form class="row g-3">
        <div class="col-md-6">
            <label for="inputFirstName" class="form-control">First Name</label>
            <input type="text" class="form-control" id="inputFirstName">
        </div>
        <div class="col-md-6">
            <label for="inputLastName" class="form-control">Last Name</label>
            <input type="text" class="form-control" id="inputLastName">
        </div>

    <div id="app" >

    </div>
    </div>
    </form>
{% endblock %}